body {
    font-family: Arial, sans-serif;
}




header {
    background-color: #007BFF;
}




h1, p {
    margin: 0;
}




section {
    padding: 20px 0;
}




.img-fluid {
    max-width: 150px;
    height: auto;
}


